/* Enter your custom styles here */

.sapMPanel {
    max-width: 800px;
    margin: 0 auto;
}

#btnSubmit {
    min-width: 160px;
}

#btnReset {
    min-width: 120px;
}

/* Dashboard tile styles */
.dashboardTile {
    width: 14rem !important;
    height: 14rem !important;
    margin: 1rem;
}

.dashboardTile .sapMGTHdrTxt {
    font-size: 1.125rem;
    font-weight: bold;
}

.dashboardTile .sapMImg {
    font-size: 3rem;
}